<div mat-dialog-title>Opinie</div>

<mat-dialog-content>
  <div class="py-5 flex flex-col gap-5">
    @for (review of reviews(); track review.id) {
      <div>
        <div>{{ review.username }}</div>
        <div>{{ review.createdAt }}</div>
        <div>{{ review.occupancy }}</div>
        <div>{{ review.isLiked }}</div>
        <div>{{ review.description }}</div>
        @for (attr of review.attributes; track attr) {
          <div>{{ attr }}</div>
        }
      </div>
    } @empty {
      @if (isLoading()) {
        <p>Ładowanie...</p>
      } @else {
        <p>Jeszcze nikt nie ocenił tego parkingu.</p>
      }
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>
