:host {
  display: flex;
  flex-direction: column;
  padding: var(--par-container-padding);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
