<div mat-dialog-title>
  <span>Jak zacząć?</span>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>

<mat-stepper #stepper>
  <mat-step>
    <div>
      To miejsce, gdzie możesz znaleźć i dodać
      <strong>DARMOWE MIEJSCA PARKINGOWE</strong> w Twoim mieście!
      <br />
      <br />
      Dzięki społeczności użytkowników łatwiej zaparkujesz
      <strong>BEZ PŁACENIA</strong> za strefy parkingowe.
    </div>
  </mat-step>
  <mat-step>
    <div>
      <ul>
        <li><strong>Wyszukuj</strong> darmowe miejsca parkingowe na mapie.</li>
        <br />
        <li><strong>Dodawaj</strong> nowe lokalizacje, które znasz.</li>
        <br />
        <li><strong>Edytuj</strong> i <strong>usuwaj</strong> punkty POI swoje i innych.</li>
      </ul>
    </div>
  </mat-step>
  <mat-step>
    <div>
      Im więcej osób dzieli się miejscami, tym łatwiej znaleźć darmowy parking.
      <br />
      <br />
      <strong>Zacznij teraz</strong> - sprawdź mapę i dodaj swoje pierwsze miejsce!
    </div>
  </mat-step>

  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <ng-template matStepperIcon="number" let-index="index">
    {{ index + 1 }}
  </ng-template>
</mat-stepper>

<mat-dialog-actions align="end">
  <button mat-button (click)="stepper.previous()">Poprzednie</button>
  @if (stepper.selectedIndex !== 2) {
    <button mat-flat-button (click)="stepper.next()">Następne</button>
  } @else {
    <button mat-flat-button mat-dialog-close>Zamknij</button>
  }
</mat-dialog-actions>
