::ng-deep {
  .mat-step-label {
    display: none !important;
  }
  .mat-horizontal-stepper-header-container {
    position: sticky;
    top: 0;
    background-color: var(--mat-sys-surface);
  }
}

.content {
  overflow: hidden;
  flex: 1;
}

mat-dialog-actions {
  background-color: var(--mat-sys-surface);
  position: sticky;
  bottom: 0;
}
