<button class="menu-button" mat-mini-fab [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<app-poi-controller></app-poi-controller>
<app-map [parkingsList]="parkingsList.value()"></app-map>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openHelpDialog()">
    <mat-icon>not_listed_location</mat-icon>
    <span>Poradnik</span>
  </button>
  <a mat-menu-item routerLink="auth">
    <mat-icon>login</mat-icon>
    <span>Zaloguj się</span>
  </a>
</mat-menu>

<div class="environment-widget">
  <div class="label">
    {{ ENVIRONMENT_TYPE }}
  </div>
</div>
