<mat-form-field subscriptSizing="dynamic" class="w-full mb-0! anim-fade-in">
  <input
    #searchInputRef
    type="text"
    placeholder="Miasto, ulica numer"
    matInput
    [matAutocomplete]="auto"
    [formField]="$any(selectedAddressForm)"
    (input)="addressSearchTerm.set($event.target.value)"
    (focus)="addressSearchTerm.set($event.target.value)"
    (blur)="addressSearchTerm.set($event.target.value)"
  />
  @if (!addressSearchTerm()) {
    <mat-icon matPrefix>location_on</mat-icon>
  }
  @if (selectedAddress()) {
    <button matSuffix matIconButton (click)="resetInput()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayFn">
    @for (address of addressesList(); track address) {
      <mat-option [value]="address" class="py-2! h-auto!">
        <div class="flex items-center">
          <mat-icon class="text-gray-700! mr-2! scale-90 shrink-0">
            {{ addressSearchTerm() ? 'location_on' : 'history' }}
          </mat-icon>
          <div class="flex flex-col whitespace-normal leading-tight py-1">
            <span>{{ address.details.name }}</span>
            @if (address.details.subname) {
              <span class="text-xs text-gray-500">({{ address.details.subname }})</span>
            }
          </div>
        </div>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
