/* DIALOG */
/* Klasa przekazywana jako panelClass przy otwieraniu dialoga */
.dialog-fullscreen {
  height: 98dvh;
  width: 100dvw;
}

/* BUTTON */
.button-error {
  --mat-sys-primary: var(--par-color-error) !important;
  --mat-fab-container-color: var(--par-color-error) !important;
}

.button-success {
  --mat-sys-primary: var(--par-color-success) !important;
  --mat-fab-container-color: var(--par-color-success) !important;
}

/* BOTTOM SHEET */
.backdrop-invisible {
  background-color: rgba(0, 0, 0, 0.05);
}

/* SNACKBAR RESET */
.custom-snackbar-container {
  padding: 0 !important;
  margin: 0 !important;

  .mat-mdc-snackbar-surface {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    min-width: 0 !important;
    max-width: none !important;
  }
}

/* GLOBAL SPINNER OVERLAY */
.global-spinner-overlay {
  pointer-events: all !important;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-in {
  animation: fadeIn 0.3s;
}

/* TYPOGRAPHY */

.par-font-large {
  font-size: 24px;
}

.par-font-big {
  font-size: 20px;
}

.par-font-small {
  font-size: 14px;
}

.par-font-tiny {
  font-size: 12px;
}
