/* DIALOG */
/* Klasa przekazywana jako panelClass przy otwieraniu dialoga */
.dialog-fullscreen {
  height: 98dvh;
  width: 100dvw;
}

/* BUTTON */
.button-error {
  --mat-sys-primary: var(--par-color-error) !important;
  --mat-fab-container-color: var(--par-color-error) !important;
}

.button-success {
  --mat-sys-primary: var(--par-color-success) !important;
  --mat-fab-container-color: var(--par-color-success) !important;
}

/* BOTTOM SHEET */
.backdrop-invisible {
  background-color: rgba(0, 0, 0, 0.05);
}

/* SNACKBAR */
/* Klasa przekazywana jako panelClass przy otwieraniu snackbara */
.snackbar-error {
  --mat-snack-bar-container-color: var(--par-color-error);
}

.snackbar-success {
  --mat-snack-bar-container-color: var(--par-color-success);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-in {
  animation: fadeIn 0.3s;
}

/* TYPOGRAPHY */

.font-large {
  font-size: 24px;
}

.font-big {
  font-size: 20px;
}

.font-small {
  font-size: 14px;
}

.font-tiny {
  font-size: 12px;
}
