:root {
  // BUTTONS FAB
  --mdc-fab-small-container-color: white;

  // BUTTONS
  --mdc-filled-button-container-height: 50px;
  --mdc-protected-button-container-height: 50px;
  --mdc-text-button-container-height: 50px;
  --mdc-outlined-button-container-height: 50px;

  --mat-filled-button-horizontal-padding: 20px;
  --mat-protected-button-horizontal-padding: 20px;
  --mat-text-button-horizontal-padding: 20px;
  --mat-outlined-button-horizontal-padding: 20px;

  // DIALOG
  --mat-dialog-container-small-max-width: none;
  --mat-dialog-headline-padding: 20px 24px 15px;

  .mat-mdc-dialog-panel {
    width: 95dvw;
  }
  .mat-mdc-dialog-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      display: none;
    }
  }

  mat-dialog-actions {
    background-color: var(--mat-sys-surface);
    position: sticky;
    bottom: 0;
  }

  // STEPPER
  // Dostosowanie kolorów aby pozostały takie same, niezależnie od aktualnego stanu w stepperze
  --mat-stepper-header-done-state-icon-background-color: var(
    --mat-sys-on-surface-variant
  );
  --mat-stepper-header-done-state-icon-foreground-color: white;

  // SNACKBAR
  --mdc-snackbar-container-color: var(--mat-sys-primary);
  .mat-mdc-snackbar-surface {
    box-shadow:
      0 0 0 2px white,
      0 0 0 3px var(--mat-sys-primary),
      var(--mat-sys-level3);
  }

  // BOTTOM SHEET
  .mat-bottom-sheet-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--mat-sys-level5);
    max-width: 100vw;
    min-width: 100vw;
  }
  .backdrop-invisible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
