html {
  /* Primary palette variables */
  --mat-sys-primary: var(--par-color-primary);
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #d9e2ff;
  --mat-sys-on-primary-container: #001944;
  --mat-sys-inverse-primary: #b0c6ff;

  /* Secondary palette variables */
  --mat-sys-secondary: var(--par-color-primary);
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-secondary-container: #d9e2ff;
  --mat-sys-on-secondary-container: #001944;

  /* Neutral palette variables */
  --mat-sys-background: #faf8ff;
  --mat-sys-on-background: #191b22;
  --mat-sys-surface: #faf8ff;
  --mat-sys-surface-dim: #d9d9e3;
  --mat-sys-surface-bright: #faf8ff;
  --mat-sys-surface-container-lowest: #ffffff;
  --mat-sys-surface-container-low: #ffffff;
  --mat-sys-surface-container: #ededf7;
  --mat-sys-surface-container-high: #e7e7f1;
  --mat-sys-surface-container-highest: #e1e2ec;
  --mat-sys-on-surface: #191b22;
  --mat-sys-shadow: #000000;
  --mat-sys-scrim: #000000;
  --mat-sys-surface-tint: #0158c9;
  --mat-sys-inverse-surface: #2e3038;
  --mat-sys-inverse-on-surface: #eff0fa;
  --mat-sys-outline: var(--mat-sys-primary);
  --mat-sys-outline-variant: #c2c6d6;

  /* Error palette variables */
  --mat-sys-error: var(--par-colo-error);
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-on-error-container: #410002;

  /* Neutral variant palette variables */
  --mat-sys-surface-variant: #dfe2f2;
  --mat-sys-on-surface-variant: #424653;
  --mat-sys-neutral-variant20: #2c303c; /* Variable used for the sidenav scrim (container background shadow when opened) */

  /* ELEVATION SYSTEM VARIABLES */

  /* Box shadow colors. Only used in the elevation level system variables. */
  --mat-sys-umbra-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 80%
  );
  --mat-sys-penumbra-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 86%
  );
  --mat-sys-ambient-color: color-mix(
    in srgb,
    var(--mat-sys-shadow),
    transparent 88%
  );

  /* Elevation level system variables. These are used as the value for box-shadow CSS property. */
  --mat-sys-level0:
    0px 0px 0px 0px var(--mat-sys-umbra-color),
    0px 0px 0px 0px var(--mat-sys-penumbra-color),
    0px 0px 0px 0px var(--mat-sys-ambient-color);
  --mat-sys-level1:
    0px 2px 1px -1px var(--mat-sys-umbra-color),
    0px 1px 1px 0px var(--mat-sys-penumbra-color),
    0px 1px 3px 0px var(--mat-sys-ambient-color);
  --mat-sys-level2:
    0px 3px 3px -2px var(--mat-sys-umbra-color),
    0px 3px 4px 0px var(--mat-sys-penumbra-color),
    0px 1px 8px 0px var(--mat-sys-ambient-color);
  --mat-sys-level3:
    0px 3px 5px -1px var(--mat-sys-umbra-color),
    0px 6px 10px 0px var(--mat-sys-penumbra-color),
    0px 1px 18px 0px var(--mat-sys-ambient-color);
  --mat-sys-level4:
    0px 5px 5px -3px var(--mat-sys-umbra-color),
    0px 8px 10px 1px var(--mat-sys-penumbra-color),
    0px 3px 14px 2px var(--mat-sys-ambient-color);
  --mat-sys-level5:
    0px 7px 8px -4px var(--mat-sys-umbra-color),
    0px 12px 17px 2px var(--mat-sys-penumbra-color),
    0px 5px 22px 4px var(--mat-sys-ambient-color);

  /* SHAPE SYSTEM VARIABLES */
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;

  /* STATE SYSTEM VARIABLES */
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}
