:root {
  // BUTTON FAB
  --mdc-fab-small-container-color: white;

  // DIALOG
  --mat-dialog-container-small-max-width: none;
  --mat-dialog-headline-padding: 20px 24px 15px;

  .mat-mdc-dialog-panel {
    width: 98dvw;
    &.dialog-fullscreen {
      height: 98dvh;
    }
  }
  .mat-mdc-dialog-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      display: none;
    }
  }

  mat-dialog-actions {
    background-color: var(--mat-sys-surface);
    position: sticky;
    bottom: 0;
  }

  // STEPPER
  // Dostosowanie kolorów aby pozostały takie same, niezależnie od aktualnego stanu w stepperze
  --mat-stepper-header-done-state-icon-background-color: var(
    --mat-sys-on-surface-variant
  );
  --mat-stepper-header-done-state-icon-foreground-color: white;

  // SNACKBAR
  --mdc-snackbar-container-color: var(--mat-sys-primary);
  .mat-mdc-snackbar-surface {
    box-shadow:
      0 0 0 2px white,
      0 0 0 3px var(--mat-sys-primary),
      var(--mat-sys-level3);
  }
}
