:root {
  /* BUTTON-FAB */
  --mat-fab-small-container-color: white;
  --mat-fab-container-color: white;

  /* BUTTON-TEXT */
  --mat-button-text-container-height: 50px;
  --mat-button-text-horizontal-padding: 20px;

  /* BUTTON-FLAT */
  --mat-button-filled-container-height: 50px;
  --mat-button-filled-horizontal-padding: 20px;

  /* BUTTON-RAISED */
  --mat-button-protected-container-height: 50px;
  --mat-button-protected-horizontal-padding: 20px;

  /* BUTTON-OUTLINED */
  --mat-button-outlined-container-height: 50px;
  --mat-button-outlined-horizontal-padding: 20px;
  --mat-button-outlined-outline-color: var(--mat-sys-primary);

  /* DIALOG */
  --mat-dialog-container-small-max-width: none;
  --mat-dialog-headline-padding: 20px 24px 15px;

  /* MAT-TOOLTIP */
  --mat-tooltip-container-color: var(--mat-sys-surface);
  --mat-tooltip-supporting-text-color: var(--par-color-black);

  /* MAT-OPTION */
  --mat-option-label-text-size: 14px;

  /* BUTTONS-ALL */

  .mdc-button {
    min-width: 120px;
  }

  /* DIALOGS */
  .mat-mdc-dialog-panel {
    width: 95dvw;
  }

  .mat-mdc-dialog-title.mdc-dialog__title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--par-border-line);
    &::before {
      display: none;
    }
  }

  mat-dialog-actions {
    background-color: var(--mat-sys-surface);
    margin-top: auto;
    position: sticky;
    bottom: 0;
  }

  /* BOTTOM SHEET */
  .mat-bottom-sheet-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-top: 5px solid var(--mat-sys-primary);
    max-width: 100vw;
    min-width: 100vw;

    &.mat-bottom-sheet-container-animations-enabled {
      &.mat-bottom-sheet-container-enter {
        animation-duration: 200ms;
        animation-timing-function: ease;
      }

      &.mat-bottom-sheet-container-exit {
        animation-duration: 200ms;
        animation-timing-function: ease;
      }
    }
  }

  /* CARD */
  mat-card-header {
    padding: 16px;
    margin-bottom: 20px;
    border-bottom: var(--par-border-line);
  }

  /* FORMFIELD */
  mat-form-field {
    margin-bottom: 20px;
    .mat-mdc-text-field-wrapper {
      background-color: var(--mat-sys-surface);
    }
  }

  /* TOOLTIP */
  .mat-mdc-tooltip-surface {
    border: 3px solid var(--par-color-primary);
    box-shadow: var(--mat-sys-level2);
  }

  /* MENU */
  .mat-mdc-option {
    padding: 8px !important;
  }
}
