/* DIALOG */
/* Klasa przekazywana jako panelClass przy otwieraniu dialoga */
.dialog-fullscreen {
  height: 98dvh;
  width: 100dvw;
}

/* BUTTON */
.error-theme {
  --mat-sys-primary: var(--par-color-error);
}

/* SNACKBAR */
/* Klasa przekazywana jako panelClass przy otwieraniu snackbara */
.snackbar-error {
  --mat-snackbar-container-color: var(--par-color-error);
}

.snackbar-success {
  --mat-snackbar-container-color: var(--par-color-success);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-in {
  animation: fadeIn 0.3s;
}
