// DIALOG
// Klasa przekazywana jako panelClass przy otwieraniu dialoga
.dialog-fullscreen {
  height: 98dvh;
  width: 100dvw;
}

// BUTTON
.error-theme {
  --mat-sys-primary: var(--mat-sys-error);
}

// SNACKBAR
.snackbar-error {
  --mdc-snackbar-container-color: var(--par-color-error);
}
.snackbar-success {
  --mdc-snackbar-container-color: var(--par-color-success);
}
