@if (isMapLoaded()) {
  <div class="menu-buttons-wrapper">
    @switch (activeMode()) {
      @case (ACTIVE_MODE_ENUM.DEFAULT) {
        <button
          @enterFadeAnimation
          class="menu-button"
          mat-flat-button
          (click)="startAddingPoi()"
        >
          <mat-icon>local_parking</mat-icon>
          Dodaj bezpłatny parking
        </button>
      }
      @case (ACTIVE_MODE_ENUM.ADDING_POI) {
        <button
          @enterFadeAnimation
          class="menu-button"
          mat-raised-button
          (click)="stopAddingPoi()"
        >
          Anuluj
        </button>
        <button
          @enterFadeAnimation
          class="menu-button"
          mat-flat-button
          (click)="confirmAddedPoi()"
        >
          <mat-icon>check</mat-icon>
          Zatwierdź
        </button>
      }
      @case (ACTIVE_MODE_ENUM.UPDATING_POI_POSITION) {
        <button
          @enterFadeAnimation
          class="menu-button"
          mat-raised-button
          (click)="stopUpdatingPoiPosition()"
        >
          Anuluj
        </button>
        <button
          @enterFadeAnimation
          class="menu-button"
          mat-flat-button
          (click)="confirmUpdatedPoiPosition()"
        >
          <mat-icon>check</mat-icon>
          Zatwierdź
        </button>
      }
    }
  </div>
}
