<div class="flex py-5" [class]="data.isMenuHorizontalWithScroll ? 'flex-row' : 'flex-col'">
  <div class="font-big flex items-center gap-2">
    {{ data.title || '' }}
    @if (data.showTitleCloseButton) {
      <!-- <mat-icon class="ml-auto" (click)="menuSheetRef.onClick.next(poiActionsEnum.DISMISS)">
        close
      </mat-icon> -->
    }
  </div>
  <hr class="mt-3 mb-5" />

  @if (data.description) {
    <div class="font-small mb-5 leading-normal">{{ data.description }}</div>
  }
  <div
    class="flex gap-2"
    [class]="data.isMenuHorizontal || data.isMenuHorizontalWithScroll ? 'flex-row' : 'flex-col'"
    [class]="data.isMenuHorizontalWithScroll ? 'pr-4' : ''"
  >
    @for (menu of data.menuItems; track menu) {
      @if (menu.isPrimary || menu.isSuccess || menu.isError) {
        <button
          mat-flat-button
          [class.button-error]="menu.isError"
          [class.button-success]="menu.isSuccess"
          [class]="data.isMenuHorizontal ? ['justify-center!', 'w-1/2'] : 'justify-start!'"
          class="flex"
          (click)="choose(menu)"
          [disabled]="menu.isButtonDisabled?.()"
        >
          @if (menu.icon) {
            <mat-icon>{{ menu.icon }}</mat-icon>
          }
          <div>{{ menu.label }}</div>
        </button>
      } @else {
        <button
          mat-stroked-button
          [class]="data.isMenuHorizontal ? ['justify-center!', 'w-1/2'] : 'justify-start!'"
          class="flex"
          (click)="choose(menu)"
          [disabled]="menu.isButtonDisabled?.()"
        >
          @if (menu.icon) {
            <mat-icon>{{ menu.icon }}</mat-icon>
          }
          <div>{{ menu.label }}</div>
        </button>
      }
    }
  </div>
</div>
