<div mat-dialog-title>{{ dialogData.title }}</div>
<mat-dialog-content>
  {{ dialogData.content }}
</mat-dialog-content>
<mat-dialog-actions>
  @if (!dialogData.hideCancelButton) {
    <button mat-button [mat-dialog-close]="false">
      {{ dialogData.cancelButtonLabel }}
    </button>
  }
  @if (!dialogData.hideConfirmButton) {
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      [class.button-error]="dialogData.isConfirmErrorButton"
    >
      {{ dialogData.confirmButtonLabel }}
    </button>
  }
</mat-dialog-actions>
