<button
  class="fixed! z-2 left-2.5 top-2.5 shadow-[0_0_2px_rgba(0,0,0,0.5)]!"
  matMiniFab
  [matMenuTriggerFor]="menu"
>
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openHelpDialog()">
    <mat-icon>question_mark</mat-icon>
    <span>Poradnik</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Wyloguj się</span>
  </button>
</mat-menu>

@if (isMapLoaded()) {
  <button
    [disabled]="isAddingPoiActive()"
    class="add-location-button fixed! z-2 right-2.5 top-37 shadow-[0_0_2px_rgba(0,0,0,0.5)]!"
    matMiniFab
    (click)="startAddingPoi()"
  >
    <mat-icon>add_location_alt</mat-icon>
  </button>

  <button
    class="fixed! z-2 right-2.5 top-49 shadow-[0_0_2px_rgba(0,0,0,0.5)]!"
    matMiniFab
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>filter_alt</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="setFilter(parkingsFilter.WELL_RATED)"
      [class.bg-(--par-color-primary-light)!]="activeFilter() === parkingsFilter.WELL_RATED"
    >
      <mat-icon>thumb_up</mat-icon>
      <span>Dobrze oceniane</span>
    </button>
    <button
      mat-menu-item
      (click)="setFilter(parkingsFilter.ALL)"
      [class.bg-(--par-color-primary-light)!]="activeFilter() === parkingsFilter.ALL"
    >
      <mat-icon>done</mat-icon>
      <span>Wszystkie</span>
    </button>
  </mat-menu>

  <div
    class="flex justify-between gap-1 w-full fixed bottom-0 left-0 right-0 z-10 whitespace-nowrap p-3"
  >
    <app-address-search-box (selectedAddressEmitter)="selectedAddress.set($event)" />
    <button
      matTooltip="Znajdź najbliższy parking"
      class="find-nearest-parking-button anim-fade-in shadow-[0_0_2px_rgba(0,0,0,0.5)]!"
      matFab
      (click)="findNearestParking()"
    >
      <mat-icon>explore</mat-icon>
    </button>
  </div>
}
