@use "tailwindcss";
@use "@angular/material" as mat;
@use "./theme/theme-font-tokens";
@use "./theme/theme-tokens";
@use "./theme/theme-components";
@use "./theme/theme-class";

:root {
  --par-color-success: #4bab4e;
  --par-color-error: var(--mat-sys-error);
  --par-color-primary: #00b5c6;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100dvw;
  max-height: 100dvh;
  font-size: 14px;
  line-height: 1.5;
}

ul {
  padding-left: 20px;
}

strong {
  text-transform: uppercase;
  color: var(--par-color-primary);
}
