@use "@angular/material" as mat;
@use "./theme/theme-tokens";
@use "./theme/theme-components";
@use "./theme/theme-class.scss";

:root {
  --color-success: #4bab4e;
  --color-error: var(--mat-sys-error);
  --color-primary: #4fc4cf;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100dvw;
  max-height: 100dvh;
  font-size: 14px;
  line-height: 1.5;
}
ul {
  padding-left: 20px;
}

strong {
  text-transform: uppercase;
  color: var(--color-primary);
}
