@use "@angular/material" as mat;
@use "./theme/theme";
@use "./theme/theme-components";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100dvw;
  max-height: 100dvh;
  font-size: 14px;
}

// BUTTON
.error-theme {
  --mat-sys-primary: var(--mat-sys-error);
}
