@import './theme/theme-tokens-m3.css';
@import './theme/theme-components-overrides-m3.css';
@import './theme/theme-custom-classes.css';
@import 'tailwindcss';

:root {
  --par-color-primary: #1098f7;
  --par-color-primary-light: color-mix(in srgb, var(--par-color-primary), #ffffff 60%);
  --par-color-error: #e0505c;
  --par-color-success: #06bd8c;
  --par-color-black: #242424;
  --par-container-padding: 24px;
  --par-border-line: 1px solid rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  color: var(--par-color-black);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  max-width: 100dvw;
  max-height: 100dvh;
}

ul {
  padding-left: 20px;
}

strong {
  text-transform: uppercase;
  color: var(--par-color-primary);
}

hr {
  border-bottom: var(--par-border-line);
}

button {
  white-space: nowrap;
}
